<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index | Framework</title>
</head>
<body>
    <p>Framework in action!</p>
    <ul>
      <% @tests.each do |test| %>
        <li><%= test.title %> (<%= test.level %>)</li>
      <% end %>
    </ul>
</body>
</html>
